#about {
  background-image: url('../images/img3.jpg');
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  position: absolute;

  .intro {
    color: white;
    width: 95%;
    margin: 0 auto;
  }

  .cards-segment {
    background-color: rgba(0, 0, 0, 0.3);

    // Flex Settings
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

    // Container Sizing
    width: 100%;
    height: 50%;

    // Positioning
    margin-top: 8%;

    .about-card {
      background-color: rgba(0, 0, 0, 0.5);
      // // Positioning
      margin: 0;

      // Card Sizing
      min-width: 30%;
      min-height: 100%;

      .wrapper {
        padding-top: 70px;
        h2 {
          color: white;
          .headphones {
            color: violet;
          }

          .video {
            color: lightblue;
          }

          .volume {
            color: lightpink;
          }

          .icon-header {
            margin: 1rem;
            div {
              margin-top: 1rem;
            }
          }
        }
        div {
          color: white;
        }
      }
    }
  }
}
