#about {
  background-image: url('../images/img3.jpg');
  width: 100vw;
  min-height: 100vh;
  background-size: cover;

  .overlay {
    background-image: url('../images/pattern.png');
    width: 100%;
    height: 100%;
    background-size: 0.4rem;
    display: flex;
    align-items: center;

    .about-container {
      padding: 20px;
      height: 85%;
      width: 60%;
      border: solid black;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;

      .close-button-container {
        padding: 20px;
      }

      .intro {
        color: white;
        width: 95%;
        margin: 0 auto;
      }

      .title {
        color: white;
        padding: 20px;
      }

      .cards-segment {
        background-color: rgba(0, 0, 0, 0.3);

        // Flex Settings
        display: flex;
        align-items: center;
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;

        // Container Sizing
        width: 100%;
        height: 50%;

        // Positioning
        margin-top: 8%;

        .about-card {
          background-color: rgba(0, 0, 0, 0.5);
          // // Positioning
          margin: 0;

          // Card Sizing
          width: 30%;
          height: 100%;
          .wrapper {
            padding-top: 70px;
            h2 {
              color: white;
              .headphones {
                color: violet;
              }

              .video {
                color: lightblue;
              }

              .volume {
                color: lightpink;
              }

              .icon-header {
                padding: 20px;
              }
            }
            div {
              color: white;
            }
          }
        }
      }
    }
  }
}
