.overlay {
  background-image: url('../images/pattern.png');
  min-width: 100vw;
  min-height: 100vh;
  background-size: 0.4rem;
  display: flex;
  align-items: center;
  position: fixed;

  .content-container {
    padding: 20px;
    height: 90vh;
    min-width: 90%;

    border: solid black;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;

    .close-button-container {
      padding: 20px;
    }

    .title {
      color: white;
      padding: 20px;
    }
  }
}
